.navbar{
    background-color: blue;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.navbar a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
.active{
    font-size: 20px;
}